<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You asked for a password reset from Wibu</h1>
    <p>
      You can log in with the temporary password: <%= @tmp_pw %>.<br/>
    </p>
  </body>
</html>
