<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
<script src="bootstrap/js/jquery.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">WIBU</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Joes Profile Page</a></li>
          <li><a href="#">Create Group</a></li>
          <li><a href="#">Upload</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Things <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Change Password</a></li>
              <li><a href="#">Edit Profile</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Study Group 1</a></li>
              <li><a href="#">Study Group 2</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form pull-right">
          <input class="span2" type="search" placeholder="Search Term">
          <button type="submit" class="btn">Search</button>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit" style="height:100%">
    <h1>COSC 612</h1>
    <div style="border:1px solid black;">
    <u><p style="text-align:center;">COSC 612 Message Board</p></u>
    <hr style="margin:5px;border-color:black">
    <div style="overflow-y:scroll;height:90px">
      <ul style="font-size:.7em;">
        <li style="line-height:15px">Joe joined the group</li>
        <li style="line-height:15px">Aaron uploaded a file</li>
        <li style="line-height:15px">Conor says: "Hellow world!"</li>
        <li style="line-height:15px">Anonymous says: "nothing"</li>
        <li style="line-height:15px">Anonymous says: "nothing"</li>
        <li style="line-height:15px">Anonymous says: "nothing"</li>
        <li style="line-height:15px">Anonymous says: "nothing"</li>
        <li style="line-height:15px">Anonymous says: "nothing"</li>
      </ul>
    </div>
    <div style="border:1px solid black;float:left;margin:5px;width:70%">
      <h3>About COSC 612</h3>
      <div style="float:left;margin:5px">
        <p>
          COSC 612 is a group dedicated to producint the best software products known to man kind. Thanks to our thorough knowledge of software engineering and unwavering committment to staying on the cutting edge of software development, we consistently build systems of the highest quality.
        </p>
        <hr style="border-color:black">
        <h4><u>COSC 612 Projects</u></h4>
        <ul>
          <li><a href ="#">WUBI</a></li>
          <li><a href ="#">Tweeter</a></li>
          <li><a href ="#">Gaagle</a></li>
          <li><a href ="#">MeTube</a></li>
        </ul>
      </div>
    </div>

    <div id="sidebar" style="border:1px solid black;text-align:centerwidth:30%;float:right;margin:5px">
      <div style="margin:5px">
        <u>COSC 612 Members</u>
        <ul>
          <li><a href ="#">Joe</a></li>
          <li><a href ="#">Aaron</a></li>
          <li><a href ="#">Conor</a></li>
          <li><a href ="#">Anonymous</a></li>
          <li><a href ="#">Big Brother</a></li>
          <li><a href ="#">Not-So-Big Mother</a></li>
          <li><a href ="#">Member 8</a></li>
          <li><a href ="#">Member 9</a></li>
        </ul>
      </div>
      <div style="margin:5px">
        <u>COSC 612 Files</u>
        <ul>
          <li><a href ="#">File_1.jpg</a></li>
          <li><a href ="#">File_2.doc</a></li>
          <li><a href ="#">File_3.csv</a></li>
          <li><a href ="#">File_4.bug</a></li>
        </ul>
      </div>
      <div>
        Upload File</br>
        <input type="file"></input>

      </div>
    </div>
  </div>
</div>
